.App {
  text-align: center;
}

.mainDiv{
  display:flex
}
.div1{
   width: 30%;
}
.div2{
  display:flex;
  align-items: center;
  width: 70%;
}
.dashboard{
  display: flex;
  align-items: center;
  margin-top: 20px;

}
.sidebar{
  margin-top:50px;
    
}