.App {
  text-align: center;
}

.mainDiv{
  display:flex
}
.div1{
   width: 20%;
}
.div2{
  display:flex;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}
.dashboard{
  display: flex;
  align-items: center;
  margin-top: 20px;

}
.sidebar{
  margin-top:50px;

}
.filter-Section{
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}